<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="${title}">Layout Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div th:replace="${content}">
    <p>Layout content</p>
</div>
<footer>
    <a th:href="@{/localeChange(lang=en_US)}">english</a><br>
    <a th:href="@{/localeChange(lang=zh_CN)}">中文</a>
</footer>
</body>
</html>
