<html>
<head>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<h1>User List</h1>
<table class="table table-condensed">
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
    </tr>
</table>
</body>
</html>