<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Page Title</title>
</head>
<body>
<section>
    <h1 th:text="#{user_list}"></h1>
    <table class="table table-condensed">
        <tr th:each="emp : ${pageInfo.list}">
            <td th:text="${emp.id}"></td>
            <td th:text="${emp.lastName}"></td>
            <td th:text="${emp.email}"></td>
        </tr>
    </table>

    <div class="modal-footer no-margin-top">
        <div class="col-md-6">
            当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录
        </div>

        <ul class="pagination pull-right no-margin">
            <li th:if="${pageInfo.hasPreviousPage}">
                <a th:href="'/emp/list?page=1'">首页</a>
            </li>

            <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                <a th:href="'/emp/list?page='+${pageInfo.prePage}">
                    <i class="ace-icon fa fa-angle-double-left"></i>
                </a>
            </li>
            <!--遍历条数-->
            <li th:each="nav:${pageInfo.navigatepageNums}">
                <a th:href="'/emp/list?page='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
            </li>

            <li class="next" th:if="${pageInfo.hasNextPage}">
                <a th:href="'/emp/list?page='+${pageInfo.nextPage}">
                    <i class="ace-icon fa fa-angle-double-right"></i>
                </a>
            </li>

            <li>
                <a th:href="'/emp/list?page='+${pageInfo.pages}">尾页</a>
            </li>
        </ul>
    </div>
</section>
</body>
</html>
